server {
    listen       ${NGINX_PORT};
    listen  [::]:${NGINX_PORT};

    server_name  localhost;

    #access_log  /var/log/nginx/host.access.log  main;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}

